<?xml version="1.0" encoding="UTF-8"?>
<Application prefix="R" ext="phps">
	<Condition mode="development">
		<Host pattern="([^.]*)"></Host></Condition>
	<Condition mode="production" pattern="any"></Condition>
	<Plugin name="Lf"></Plugin>
	<If mode="development">
		<Registry key="db/default/engine" value="mysql"></Registry>
		<Registry key="db/default/host" value="localhost"></Registry>
		<Registry key="db/default/dbname" value="ring"></Registry>
		<Host pattern="mirari">
			<Plugin name="Mr"></Plugin>
		</Host>
		<Host pattern="centralis">
			<Plugin name="Ctr"></Plugin>
		</Host>
		<Registry key="hosts/center" value="centralis"></Registry>
		<Registry key="hosts/project" value="mirari"></Registry>
		<Registry key="html/static_root" value="/static/"></Registry>
	</If>
	<If mode="production">
		<Registry key="db/default/engine" value="mysql"></Registry>
		<Registry key="db/default/host" value="localhost"></Registry>
		<Registry key="db/default/dbname" value="mirari"></Registry>
		<Registry key="db/default/user" value="mirari"></Registry>
		<Registry key="db/default/password" value="XKSLzapa"></Registry>
		<Host pattern="(www\.)?mirari\.name">
			<Plugin name="Mr"></Plugin>
		</Host>
		<Host pattern="(www\.)?centralis\.name">
			<Plugin name="Ctr"></Plugin>
		</Host>
		<Registry key="hosts/center" value="centralis.name"></Registry>
		<Registry key="hosts/project" value="mirari.name"></Registry>
		<Registry key="html/static_root" value="http://centralis.name/static/"></Registry>





	</If>
	<If plugin="Lf">
		<Url pattern="comments(-([0-9]+))?" command="Comments">
			<Registry key="paginator/page" pocket="2"></Registry></Url>
		<Url pattern="tag/(([0-9]+)/)?(.+)">
			<Registry key="current/tag" pocket="3"></Registry>
			<Registry key="paginator/page" pocket="2"></Registry>
			<Command name="Tag"></Command>
			</Url>
		<Host pattern="(www\.|openid\.)?(.+)">
			<Registry key="current/site" pocket="2" class="R_Mdl_Site"
				method="getByHost"></Registry>
		</Host>
		
	</If>
	<If plugin="Ctr">
		
		<Url pattern="Own/Msgs/Read-([0-9]+)">
			<Registry key="current/msg" pocket="1"></Registry>
			<Command name="Own_Msgs_Read"></Command></Url>
		<Url pattern="Own/Msgs/Write(-([0-9]+))?">
			<Registry key="current/adresate" pocket="2"></Registry>
			<Command name="Own_Msgs_Write"></Command></Url><Url pattern="Own/Msgs/(([a-zA-Z]+)(-([0-9]+))?)?">
			<Registry key="current/box" pocket="2"></Registry>
			<Registry key="paginator/page" pocket="4"></Registry>
			<Command name="Own_Msgs_Box"></Command></Url>
		<Url pattern="Own/Friends-([0-9]+)" command="Own_Friends">
			<Registry key="paginator/page" pocket="1"></Registry></Url></If>
	<If plugin="Mr">
		<Url pattern="topic:(.+)" command="Topic">
			<Registry key="current/topic" pocket="1"
				class="R_Mdl_Info_Topic" method="getByUrlName">
			</Registry>
		</Url>
		<Url pattern="edit:(.+)" command="EditPage">
			<Registry key="current/page" pocket="1"
				class="R_Mdl_Info_Page" method="getByUrlName">
			</Registry></Url>
		<Url pattern="(.+)" command="Page">
			<Registry key="current/page" pocket="1"
				class="R_Mdl_Info_Page" method="getByUrlName">
			</Registry></Url></If>
	<Url pattern="openid/login">
		<Command name="OpenId_Login" plugin="-"></Command>
	</Url>
	<Url pattern="openid/logout">
		<Command name="OpenId_Logout" plugin="-"></Command>
	</Url>
	<Url pattern="openid/provider">
		<Command name="OpenId_Provider" plugin="-"></Command>
	</Url>
	<Url pattern="openid/redirect">
		<Command name="OpenId_Redirect" plugin="-"></Command>
	</Url>
	<Url pattern="comment">
		<Command name="Comment" plugin="-"></Command>
	</Url>
	<Url pattern="">
		<Command name="Home"></Command>
	</Url>
	<Registry key="err_tpl" value="R_Tpl_Error"></Registry>
	<Registry key="sites/static_urlbase" value="/static/s/"></Registry><Registry key="sites/static_folder" value="./static/s/"></Registry><Registry key="users/static_folder" value="./static/u/"></Registry><Registry key="users/static_urlbase" value="/static/u/"></Registry><Registry key="class/R_Mdl_User/plugins" type="add"
		value="O_OpenId_Provider_UserPlugin"></Registry>
	<Registry key="class/R_Mdl_Site/acl">
		<User-In field="owner">
			<Role name="Site Owner"></Role>
		</User-In>
		<User-In field="owner_friends">
			<Role name="Site Owner's Friend"></Role>
		</User-In>
		<User-In field="owner_friends_friends">
			<Role name="Site Owner's Friends Friend"></Role>
		</User-In>
	</Registry>
	<Registry key="class/R_Mdl_Site_Comment/acl">
		<User-In field="owner">
			<Role name="Content Owner"></Role></User-In>
		<User-In field="root-&gt;site-&gt;owner">
			<Role name="Site Owner"></Role></User-In></Registry>
	<Registry key="uses" type="add" value="R_Mdl_Session"></Registry>
	<Registry key="classnames/session" value="R_Mdl_Session"></Registry>
	<Registry key="classnames/user" value="R_Mdl_User"></Registry>
	<Registry key="classnames/visitor" value="O_Acl_Visitor"></Registry>
	<Registry key="paginator/title" value="Страницы"></Registry>
	<Registry key="paginator/last" value="&gt;&gt;"></Registry>
	<Registry key="paginator/first" value="&lt;&lt;"></Registry>
	<Registry key="paginator/prev" value="&lt;"></Registry>
	<Registry key="paginator/next" value="&gt;"></Registry>
	<Registry key="paginator/order_title" value="Сортировка"></Registry>
	<Registry key="paginator/css_envelop" value="o-paginator"></Registry>
	<Registry key="dao-params/default_tail"
		value="ENGINE = InnoDB CHARACTER SET utf8 COLLATE utf8_general_ci"></Registry>
	<Registry key="js/fckeditor/config_path" value="/static/fckconfig.js"></Registry>






</Application>
