<?xml version="1.0" encoding="UTF-8"?>
<Application>
	<Plugin name="Lf"></Plugin>
	<If mode="development">
		<Host pattern="mirari">
			<Plugin name="Mr"></Plugin>
		</Host>
		<Host pattern="centralis">
			<Plugin name="Ctr"></Plugin>
		</Host>
	</If>

	<If mode="production">
		<Host pattern="(www\.)?mirari\.name">
			<Plugin name="Mr"></Plugin>
		</Host>
		<Host pattern="(www\.)?centralis\.name">
			<Plugin name="Ctr"></Plugin>
		</Host>
	</If>
	<If plugin="Lf">
		<Url pattern="comments(-([0-9]+))?" command="Comments">
			<Registry key="paginator/page" pocket="2"></Registry>
		</Url>
		<Url pattern="tag/(([0-9]+)/)?(.+)">
			<Registry key="current/tag" pocket="3"></Registry>
			<Registry key="paginator/page" pocket="2"></Registry>
			<Command name="Tag"></Command>
		</Url>
		<Host pattern="(www\.|openid\.)?(.+)">
			<Registry key="current/site" pocket="2" class="R_Mdl_Site"
				method="getByHost"></Registry>
		</Host>
		<Registry key="layout_class" value="R_Lf_Layout"></Registry>

	</If>
	<If plugin="Ctr">

		<Url pattern="Own/Msgs/Read-([0-9]+)">
			<Registry key="current/msg" pocket="1"></Registry>
			<Command name="Own_Msgs_Read"></Command>
		</Url>
		<Url pattern="Own/Msgs/Write(-([0-9]+))?">
			<Registry key="current/adresate" pocket="2"></Registry>
			<Command name="Own_Msgs_Write"></Command>
		</Url>
		<Url pattern="Own/Msgs/(([a-zA-Z]+)(-([0-9]+))?)?">
			<Registry key="current/box" pocket="2"></Registry>
			<Registry key="paginator/page" pocket="4"></Registry>
			<Command name="Own_Msgs_Box"></Command>
		</Url>
		<Url pattern="Own/Friends-([0-9]+)" command="Own_Friends">
			<Registry key="paginator/page" pocket="1"></Registry>
		</Url>
		<Registry key="layout_class" value="R_Ctr_Layout"></Registry>
		<Registry key="dict/default/base/filebase" value="Apps/Ring/Ctr/dict."></Registry>
	</If>
	<Url pattern="openid/redirect">
		<Command name="OpenId_Redirect" plugin="-"></Command>
	</Url>
	<Url pattern="openid/login">
		<Command name="OpenId_Login" plugin="-"></Command>
	</Url>
	<Url pattern="openid/logout">
		<Command name="OpenId_Logout" plugin="-"></Command>
	</Url>
	<If plugin="Mr">
		<Url pattern="topic:(.+)" command="Topic">
			<Registry key="current/topic" pocket="1" class="R_Mdl_Info_Topic"
				method="getByUrlName">
			</Registry>
		</Url>
		<Url pattern="edit:(.+)" command="EditPage"></Url>
		<Url pattern="(.+)" command="Page">
			<Registry key="current/page" pocket="1" class="R_Mdl_Info_Page"
				method="getByUrlName">
			</Registry>
		</Url>
		<Registry key="layout_class" value="R_Mr_Layout"></Registry>
	</If>


	<Url pattern="openid/provider(/(.+))?">

		<Registry key="current/action" pocket="2"></Registry>
		<Command name="OpenId_Provider" plugin="-"></Command>
	</Url>

	<Url pattern="comment">
		<Command name="Comment" plugin="-"></Command>
	</Url>
	<Url pattern="">
		<Command name="Home"></Command>
	</Url>
</Application>
