/*outer styles*/
div#wrap{background-color:#fff;}
div#rcol div.cont{border:dashed #aaa;border-width:0px 0px 1px 1px;background-color:#f0f0f0;}
div#head{border-bottom:2px solid #aaa;background-color:#fff;}
div#head div#login-box{}
div#main-menu{border-bottom:2px solid #aaa;background-color:#fff;}
div#main-menu ul li{background-color:#fff;}
div#main-menu ul li a{color:#333;}
div#foot{border-top:1px solid #aaa;}
div#foot div.cont{}

/*outer elements styles*/
*{color:#333333;}
a,a:hover,a:visited{text-decoration:none;color:#222277;}
a:hover{text-decoration:underline;}
a img{border:0;}
div.system h2{border-bottom:1px solid #eeeeff;}
div.anonce{border-right:1px solid #fff;}
div.anonce,div.anonce div strong{background-color:#f5f5ff;}
div.anonce div{background-color:#fff;}
div.post,div.comm,div.comms.lined{border-top:1px solid #eeeeff;}
