*{font-family:arial,sans-serif;font-size:10pt;}
html,body{margin:0px;padding:0px;}
body{_text-align:center;}

/*container*/
div#wrap{position:relative;width:100%;min-width:850px;max-width:1200px;
_width:expression(document.body.clientWidth<900?'900px':(document.body.clientWidth>1200?'1200':'100%'));
_text-align:left;
margin:0px auto 0px auto;padding-top:150px;}
div#cont{float:left;width:78%;_width:77%;}
div#cont div.cont{padding:10px;}
div#rcol{float:right;width:22%;margin-bottom:20px;}
div#rcol div.cont{padding:10px;}
div#foot{_float:left;display:block;clear:both;width:100%;}
div#foot div.cont{padding:10px 0px 15px 0px;text-align:center;}
div#foot span{display:block;text-align:center;}
div#head{position:absolute;left:0px;top:0px;width:100%;height:118px;_height:120px;}
div#head div#login-box{position:absolute;top:0px;right:0px;width:22%;}
div#main-menu{position:absolute;left:0px;top:120px;width:100%;height:30px;}
div#main-menu ul{list-style-type:none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
div#main-menu ul li{display:inline;float:left;_float:none;height:30px;padding:0px 15px 0px 15px;}
div#main-menu ul li a,div#main-menu ul li a:hover,div#main-menu ul li a:visited{float:left;padding-top:7px;}

/*general engine*/
#shadow{position:absolute;z-index:100;background:#fff;}
#user-menu{width:22%;position:absolute;right:0;top:100px;display:none;z-index:200;background:#fff;}

/*elements*/
h1{margin:0px;font-size:18pt;}
h2{margin:0px;font-size:16px;}
h3{margin:0px;font-size:14px;}
h4{margin:0px;font-size:12px;}
h5{margin:0px;font-size:10px;}
form{margin:0;}
a,a:hover,a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}

/*current elements*/
div#head form{float:left;padding:5px;}
div#head form label{float:left;clear:both;width:100%;white-space:nowrap;font-size:10pt;}
div#head form label.button{margin-top:5px;}
div#head form span{float:left;width:60px;padding:3px 3px 0px 0px;text-align:right;}
div#head form input.text{width:110px;height:16px;}
div#head form label.button input{height:16px;margin-left:63px;}

/*outer styles*/
div#wrap{background-color:#eee;}
div#rcol div.cont{border:dashed #aaa;border-width:0px 0px 1px 1px;background-color:#ddd;}
div#head{border-bottom:2px solid #aaa;background-color:#ddd;}
div#head div#login-box{}
div#head form{border-left:1px dashed #aaa;}
div#main-menu{border-bottom:2px solid #aaa;background-color:#666;}
div#main-menu ul li{border-right:2px solid #666;background-color:#222;}
div#main-menu ul li a,div#main-menu ul li a:hover,div#main-menu ul li a:visited{color:#eee;}
div#foot{border-top:1px solid #aaa;background-image:url('bt-rt.gif');background-position:right bottom;background-repeat:no-repeat;}
div#foot div.cont{background-image:url('bt-lf.gif');background-position:left bottom;background-repeat:no-repeat;}

/*outer elements styles*/
*{color:#333333;}
input{border:1px solid #aaa;}
a,a:hover,a:visited{color:#222277;}