html,body{margin:0px;padding:0px;}
body{_text-align:center;font-size:10pt;font-family:verdana,arial,sans-serif;}

/*container*/
div#wrap{position:relative;width:100%;min-width:850px;max-width:1200px;
_width:expression(document.body.clientWidth<900?'900px':(document.body.clientWidth>1200?'1200px':'100%'));
_text-align:left;
margin:0px auto 0px auto;padding-top:150px;}
div#cont{float:left;width:78%;_width:77%;padding-bottom:20px;}
div#cont div.cont{padding:10px;_padding:0px;}
div#rcol{float:right;width:22%;_float:none;_width:auto;margin-bottom:20px;_margin-bottom:1px;}
div#rcol div.cont{_float:right;_width:22%;padding:10px;}
div#foot{display:block;clear:both;width:100%;}
div#foot div.cont{padding:10px 0px 15px 0px;text-align:center;}
div#foot span{display:block;text-align:center;}
div#head{position:absolute;left:0px;top:0px;width:100%;height:118px;_height:120px;}
div#head div#user-box{position:absolute;z-index:1000;top:0px;right:0px;width:22%;text-align:right;}
div#main-menu{position:absolute;left:0px;top:120px;width:100%;height:30px;}
div#main-menu ul{list-style-type:none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
div#main-menu ul li{display:inline;float:left;_float:none;height:30px;padding:0px 15px 0px 15px;}
div#main-menu ul li a{float:left;padding-top:7px;}

/*general engine*/
#shadow{position:absolute;right:0;width:100%;z-index:100;background:#fff;}
#user-menu{width:240px;position:absolute;right:0;top:100px;visibility:hidden;z-index:1200;background:#fff;text-align:left;padding:4px;}

/*elements*/
h1{margin:0px;font-size:18pt;}
h2{margin:0px;font-size:16pt;}
h3{margin:0px;font-size:14pt;}
h4{margin:0px;font-size:12pt;}
h5{margin:0px;font-size:10pt;}
form{margin:0;}
a,a:hover,a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
input{border:1px solid #333;}

/*header login form*/
#openid input{_height:19px;}
.openid-focus,.openid-blur{width:130px;}
.openid-focus {color: black}
.openid-blur {color: silver;font-style: italic}
#openid {padding-top:15px;padding-left:19px;padding-right:12px;background: url(./../../im/openid.gif) 0 16px no-repeat;height: 40px;white-space:nowrap;text-align:center;}
#openid span {display: block;color: gray;font-size:8pt;white-space:nowrap;}
#openid form {margin: 0}

/*header logo block*/
#logo {float: left;}
#logo a {width: 100px;height: 100px;text-decoration: none;content: 'Логотип';color: black;vertical-align: bottom;}

/*fragments - system*/
div.system{}
div.system h2{border:1px solid orange;padding:5px;margin-bottom:1px;}
div.anonce{width:20%;height:120px;padding-top:1px;float:left;background-color:#eee;}
div.anonce div{height:107px;_height:117px;margin:1px 2px 2px 2px;overflow:hidden;background-color:#fff;padding:5px;}
div.anonce div strong{margin-bottom:5px;}

/*fragments - edit role*/

/*tags cloud*/
div.tags-cloud{text-align:center;}
div.tags-cloud span{padding:0 1px;}
span.tag-0{font-size:80%;}
span.tag-1{font-size:90%;}
span.tag-2{font-size:100%;}
span.tag-3{font-size:110%;}
span.tag-4{font-size:120%;}
span.tag-5{font-size:130%;}
span.tag-6{font-size:140%;}
span.tag-7{font-size:150%;}
span.tag-8{font-size:160%;}

/*outer styles*/
div#wrap{background-color:#fff;}
div#rcol div.cont{border:dashed #aaa;border-width:0px 0px 1px 1px;background-color:#f0f0f0;}
div#head{border-bottom:2px solid #aaa;background-color:#fff;}
div#head div#login-box{}
div#main-menu{border-bottom:2px solid #aaa;background-color:#fff;}
div#main-menu ul li{background-color:#fff;}
div#main-menu ul li a{color:#333;}
div#foot{border-top:1px solid #aaa;}
div#foot div.cont{}

/*outer elements styles*/
*{color:#333333;}
a,a:hover,a:visited{color:#222277;}