*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ie-box-sizing:border-box;}
html,body{margin:0px;padding:0px;}
body{_text-align:center;font-size:10pt;font-family:verdana,arial,sans-serif;}

/*container*/
div#wrap{position:relative;width:100%;min-width:850px;max-width:1200px;
_width:expression(document.body.clientWidth<900?'900px':(document.body.clientWidth>1200?'1200px':'100%'));
_text-align:left;
margin:0px auto 0px auto;padding-top:150px;}
div#cont{float:left;width:78%;_width:77%;padding-bottom:20px;}
div#cont div.cont{padding:0px 10px 0px 15px;_padding:0px 0px 0px 15px;}
div#rcol{float:right;width:22%;_float:none;_width:auto;margin-bottom:20px;_margin-bottom:1px;}
div#rcol div.cont{_float:right;_width:22%;padding:10px;}
div#foot{display:block;clear:both;width:100%;}
div#foot div.cont{padding:10px 0px 15px 0px;text-align:center;}
div#foot span{display:block;text-align:center;}
div#head{position:absolute;left:0px;top:0px;width:100%;height:118px;*height:120px;}
div#head div#user-box{position:absolute;z-index:910;top:0px;right:0px;width:22%;text-align:right;}
div#head div.info-box{padding:22px 14px 0px 0px;}
div#main-menu{position:absolute;left:0px;top:120px;z-index:50;width:100%;height:30px;}
div#main-menu ul{list-style-type:none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
div#main-menu ul li{display:inline;float:left;_float:none;_height:30px;padding:0px 15px 0px 15px;}
div#main-menu ul li a{float:left;padding-top:7px;}

/*general engine*/
#shadow{position:absolute;right:0;width:100%;z-index:100;background:#fff;}
#user-menu{width:240px;position:absolute;right:0;top:100px;visibility:hidden;z-index:900;padding:10px;background:#fff;text-align:left;}

/*elements*/
h1{margin:10px 0px 10px 0px;font-size:18pt;}
h2{margin:10px 0px 10px 0px;font-size:16pt;}
h3{margin:10px 0px 10px 0px;font-size:14pt;}
h4{margin:10px 0px 10px 0px;font-size:12pt;}
h5{margin:10px 0px 10px 0px;font-size:10pt;}
p{margin:6px 0px 0px 0px;}
form{margin:0;}
div.oo-renderer-field{margin-bottom:5px;}
textarea.oo-renderer-field-area{width:90%;height:160px;}
#openid-login-form label{float:left;clear:both;width:220px;padding-bottom:5px;}
#openid-login-form label span{float:left;}
#openid-login-form label input{float:right;}
#notice {margin:5px;padding:3px;text-align:center;border:2px solid #aaa;font-size:110%;color:#f11313;font-weight:bold;background-color:white;}

/*header login form*/
#openid input{_height:19px;}
.openid-focus,.openid-blur{width:130px;}
.openid-focus {color: black}
.openid-blur {color: silver;font-style: italic}
#openid {padding-top:15px;padding-left:19px;padding-right:12px;background: url(./../../im/openid.gif) 0 16px no-repeat;height: 40px;white-space:nowrap;text-align:center;}
#openid span {display: block;color: gray;font-size:8pt;white-space:nowrap;}
#openid form {margin: 0}

/*header logo block*/
#logo {float:left;position:absolute;}
#logo a {width: 100px;height:100px;text-decoration: none;color: black;vertical-align: bottom;}

/*fragments - system*/
div.system{clear:both;padding-bottom:2px;}
div.system h2{padding:5px;margin-bottom:3px;font-size:12pt;}
div.anonce{width:20%;_width:expression((this.parentNode.offsetWidth / 5)+'px');height:126px;margin:5px 0px 5px 0px;padding-top:1px;float:left;}
div.anonce div.cvr{_width:100%;height:122px;*+height:114px;_height:122px;margin:1px 2px 2px 2px;_margin-top:2px;overflow:hidden;padding:5px;}
div.anonce div strong{display:block;overflow:hidden;padding:2px 0px 3px 0px;text-align:center;}
div.anonce div.cnt{margin:0px 0px 0px 0px;text-align:center;}
div.anonce.blog div.cnt{text-align:left;}
div.anonce.im div.cnt{padding-top:5px}
div.anonce.libro div.cnt{font-style:italic;}
div.anonce.sound div.cnt{font-style:italic;}
div.associations{}

/*fragments - audioalbum*/
div.audioalbum{}
div.audioalbum div.year{padding:0px 0px 10px 0px;}
div.audioalbum div.audioplayer{float:left;}
div.audioalbum div.tracklist{float:left;width:30%;padding-left:10px;}
div.audioalbum div.tracklist ol{margin:0px 0px 0px 0px;}
div.audioalbum div.tracklist ol li{*margin-left:40px;white-space:normal;}
div.audioalbum div.content{clear:both;padding:12px 0px 12px 0px;}

/*blogs*/
div.o-paginator{margin:10px 0px 0px 0px;}
div.post_date{margin:-14px 0px 14px 0px;text-align:center;font-size:80%;}

/*literature*/
div.time-place{text-align:right;font-style:italic;}
div.cycle.libro{margin-bottom:25px;}
div.cycle.libro li{list-style-type:none;display:inline;margin-right:25px;white-space:nowrap;}

/*comments*/
div.comm{clear:both;padding:10px 0px 10px 5px;}
div.comm-ava{float:left;margin-right:16px;text-align:center;}
div.comm-ava a,div.comm-ava a:hover,div.comm-ava a:visited{display:block;margin-bottom:3px;}
div.comm div.comment-time{font-size:80%;margin-bottom:12px;}

/*fragments - images*/
div.post{margin-top:16px;}
div.post div.prop{}
div.prop-ava{float:right;margin:10px;padding:5px;text-align:center;}
div.prop-ava a,div.prop-ava a:hover,div.prop-ava a:visited{display:block;margin-bottom:3px;}
div.date{margin:10px 0px 0px 0px;font-size:8pt;}
div.tags{}
div.img{padding:5px 0px 10px 0px;text-align:center;}
div.content{}
div.comms{clear:both;margin:5px 0px 10px 0px;padding-right:10px;text-align:right;}

/*tags cloud*/
div.tags-cloud{text-align:center;}
div.tags-cloud span{padding:0 1px;}
span.tag-0{font-size:80%;}
span.tag-1{font-size:90%;}
span.tag-2{font-size:100%;}
span.tag-3{font-size:110%;}
span.tag-4{font-size:120%;}
span.tag-5{font-size:130%;}
span.tag-6{font-size:140%;}
span.tag-7{font-size:150%;}
span.tag-8{font-size:160%;}

/*text formatting*/
p.prose{text-indent:2em;margin:0 1px;}
p.poetry{white-space:pre;margin:0;}

/*forms*/
div.oo-renderer-field,div.oo-renderer-buttons{clear:both;margin:0px 0px 12px 0px;padding:3px 5px 3px 5px;background-color:#fbfbff;}
div.oo-renderer-title{float:left;width:150px;text-align:right;padding:2px 10px 0px 0px;}
div.oo-renderer-field select,div.oo-renderer-field input.file,div.oo-renderer-field input.text{width:250px;}
div.oo-renderer-field div.oo-renderer-error{clear:both;padding:3px 0px 3px 0px;color:#ff5555;font-weight:bold;}
